body{
	margin:1px;
}

 button {
	 position: absolute;
	 left:    0;
	 bottom:   0;
	 font-size:20px;
}
.box{
	width: 40px;
	height: 40px;
	border : 2px black solid;
	position : absolute;
}
p{
position: absolute;
right:    0;
top: :    0;
font-size:25px;
color:black;

}
